.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  background-color: black;
}

.contactContainer h1 {
  color: white;
}
