.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  background-color: black;
  color: white;
}

.contactContainer h1 {
  color: white;
}

.digitalClock {
  color: lightgreen;
  font-family: "Orbitron", sans-serif;
}
